.comming-container{
  background-image: url(../../assets/images/img_earth.png);
  background-repeat: no-repeat;
  background-position: center;
  .name {
    background: -webkit-linear-gradient(#2B92CE, #DB4B95, #F4B065);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}