.main-container {
  background: linear-gradient(135.5deg, rgba(158, 158, 158, 0.31) -6.88%, rgba(17, 17, 17, 0)) 50%,
    radial-gradient(73.04% 100% at 50% 0, #2c2c2c 0, rgba(17, 17, 17, 0) 100%) 50%, #111;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: hard-light, normal, normal;
}
